{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <h2>Create SubClient</h2>
            </div>
        </div>
        <form action="{% url 'addsubclient' %}" method="POST">
            {% csrf_token %}
            <div class="form-group col-md-4">
                <label >SubClient Name</label>
                <input type="text" class="form-control"   placeholder="Enter name " name="username" required>
                <label >Password </label>
                <input type="password"  class="form-control" name="password" required>
                <button type="submit" class="btn btn-primary ">Submit</button>
              </div>
            
        </form>
        {% for message in messages %}
        <p>{{message}}</p>
        {%endfor%}
    </div>
    <div>
      

    </div>
</div>

{% endblock %}