{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- /. NAV SIDE  -->
<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-lg-12">
        <h2>Home</h2>
        
        <div class='text-right'>
          {% if request.user.is_superuser %}
        <a href="{% url 'addclient' %}" ><button class='btn btn-primary'>ADD Client</button> </a>
        {% elif perms.app1.add_subclient %}
        <a href="{% url 'addsubclient' %}" ><button class='btn btn-primary'>ADD SubClient</button> </a>
        {% endif %}
      </div>
      </div>
    </div>
    <!-- /. ROW  -->
    <hr />
{% if clients %}
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Clients
      </a>
      {% for client in clients %}
      <a href="{% url 'showsubclients' client.id %}" class="list-group-item list-group-item-action">{{client.user.username}}</a>
     
    {% endfor %}
      
    </div>
{% endif %}
   

{% if subclients %} 
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
   Subsclients
  </a>
  {% for subclient in subclients %}
  <a href="" class="list-group-item list-group-item-action">{{subclient.user.username}}</a>
 
{% endfor %}
  
</div>
{% endif %}

{% if subClient %}
<h2>Hi subclient {{subClient.user.username}}</h2>
{% endif %}

  </div>
  <!-- /. ROW  -->

  <!-- /. ROW  -->

  <!-- /. ROW  -->
</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>



{% endblock %}